@import url(https://db.onlinewebfonts.com/c/2da952d097bffd198ec0f0aa3fdd6804?family=JejuHallasan); 

:root{
    --primary-color:#8EA7E9;
    --secondary-color: #7286D3;
    --tertiary-color: #eee;
}
*{

    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    font-size: 10px ;
}
.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-size: 1.5rem; 
    
}

.image {
    /* background-color: red; */
    /* height: 100%; */
    background-image: url(../images/logo.png);
    background-size: cover;
    display: flex;
    flex: 1.1;
    justify-content: center;
}

.image h1 {
  font-size: 4rem;
  color: var(--tertiary-color);
  font-family: "JejuHallasan";
  font-size: 5rem; 
  font-weight: 400;
}
.connexion {
    flex: 1;
    padding: 5rem;
    /* background-color: black; */
    
}

.label{
    padding:1rem ;
}

h2 {
 padding-top: 4rem;
 padding-bottom: 3rem;
}

.input {
    width: 80%;
    height: 3.5rem;
    padding-left: 5%;
    border: solid 0.1rem;
    border-radius: 1.5rem;
    border-color: var(--secondary-color);
    background-color: var(--tertiary-color);

}

.oublie {
    display: flex;
    width: 84%;
    justify-content: right;
}

.oublie a{
    color: var(--secondary-color);
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    color: #eee;
    height: 3.5rem;
    width: 15rem;
    border: solid 0.1rem;
    border-radius: 1rem;
    background-color:var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease-out;
}
button:hover{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.ou_avec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    padding-right: 5rem;
    
}

hr{
    border: solid gray 0.1rem;
    width: 19rem;
      
}

span{
    font-size: 1.5rem;   
}

.icons {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
}

.logo {
    padding-top: 10rem; 
    width: 100vw;
    background-color: var(--tertiary-color);
    justify-content: center;
}
img{
    border: 0.2rem solid gray;
    border-radius: 5rem;
    width: 5rem;
    height: 5rem;
  
}

/*  Responsive */
@media screen and (max-width: 480px)
{
    .section {
        flex-direction: column; 
    }
    hr{
        width: 10rem;
    }
    .image {
       padding: 10rem;
    }
    .image h1 {
        visibility: hidden;
    }
    .connexion {
        padding: 1rem;
    }
    .connexion h2{
        font-size: 3rem;
    }
}