/* Importation des differents dont family*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jeju+Hallasan&display=swap');

/* Variabilisation */
:root {
    --primary-color: #7286D3;
    --secondary-color: #8EA7E9;
    --color-example : #CCCCCC;;
    --font-poppins: 'Poppins', sans-serif;
    --font-JejuHallasan: 'JejuHallasan', sans-serif;
}
/* Sytling */
* {
    padding: 0;
}

html {
    font-size: 10px;
    border: none;
    margin: 0;
    padding: 0;
}

.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.image img {
    width: 45rem;
    height: 70rem;
    padding: auto;
    transform: translateX(-31.3rem);
    position: relative;

}

.text h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-73rem, 22rem);
    text-align: center;
    font-weight: 600;
    font-size: 5.5rem;
    color: #FFFFFF;
    font-family: var(--font-JejuHallasan);
}

.infos h1 {
    margin-top: 0.5rem;
    font-family: var(--font-poppins);
    font-weight: 580;
    font-size: 4rem;
}
.Email {
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--font-poppins);
    line-height: 3rem;
    letter-spacing: 0rem;
    text-align: left;
    margin-top: 0.8rem;
    border-radius: 1.5rem;
    height: 4.8rem;
    border-color: var(--secondary-color);
}
.hidden-email{
    position: absolute;
    transform: translateY(-4.8rem);
    margin-left: 1rem;
    font-size: 1.8rem;
    color: var(--color-example)
}
.password{
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--font-poppins);
    line-height: 3rem;
    letter-spacing: 0rem;
    text-align: left;
    margin-top: 0.8rem;
    border-radius: 1.5rem;
    border-radius: 1.5rem;
    height: 4.8rem;
    border-color: var(--secondary-color);
}
.hidden-password{
    position: absolute;
    transform: translateY(-3.1rem);
    margin-left: 1rem;
    font-size: 1.8rem;
    color: var(--color-example);
}
a{
    font-weight: 500;
    font-size: 1.6rem;
    font-family: var(--font-poppins);
    line-height: 3rem;
    letter-spacing: 0rem;
    transform: translateX(10rem);
    color: var(--secondary-color);
}
.submit {
    text-align: center;
    transform: translateX(14rem);
    width: 22rem;
    height: 5.2rem;
    border-radius: 1.5rem;
    font-family: var(--font-poppins);
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0em;
    color: #FFFFFF;
    background-color: var(--primary-color);
}
.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ligne1{
    transform: translate(-1.5rem);
}
.ligne2{
    transform: translateX(1.5rem);
}
.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 0.1rem solid #9E9E9F;
    margin-top: 3rem;
}
.separator span {
    margin-top: 8.2rem;
    margin-bottom: 6rem;
    font-family: var(--font-poppins);
    font-size: 1.8rem;
    font-weight: 10;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: center;
}